@charset "utf-8";
.console-header{background:#428bca;}
.console-header .logo{background-color:#428bca;border-right:1px solid #357ebd;}


#header-tab li{border-right:1px solid #357ebd;}
#header-tab li:hover{background:#4694d8;}
#header-tab li.active{background:#357ebd;}

#iframe-tab li.active a{color:#357ebd;}

.left-nav .tip{border:1px solid #428bca; color:#428bca; border-left:none;}


.console-header .nav li{border-left:1px solid #357ebd;}
.console-header .nav li .b:hover,
.console-header .nav .n a:hover,
.console-header .nav .hover .b{background:#4694d8;}