@charset "utf-8";
.console-header{background:#2bb784;}
.console-header .logo{background-color:#2bb784;border-right:1px solid #22a675;}


#header-tab li{border-right:1px solid #22a675;}
#header-tab li:hover{background:#2eca91;}
#header-tab li.active{background:#22a675;}

#iframe-tab li.active a{color:#22a675;}

.left-nav .tip{border:1px solid #2bb784; color:#2bb784; border-left:none;}


.console-header .nav li{border-left:1px solid #22a675;}
.console-header .nav li .b:hover,
.console-header .nav .n a:hover,
.console-header .nav .hover .b{background:#2eca91;}